In [109]:
import pandas as pd

In [110]:
df=pd.read_csv('C:\DevN\DataLibs_21sept\\Copy_of_olympics.csv')

In [111]:
df.head()

,Unnamed: 0,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !.1,02 !.1,03 !.1,Total.1,№ Games,01 !.2,02 !.2,03 !.2,Combined total
0,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
1,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
2,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
3,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
4,Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [112]:
df.rename(columns={'Unnamed: 0': 'Countries', '№ Summer': 'Summer_games','01 !':'Summer_gold','02 !':'Summer_silver',
                   '03 !':'Summer_bronze','Total':'Total_summer','№ Winter':'Winter_games','01 !.1':'Winter_gold',
                  '02 !.1':'Winter_silver','03 !.1':'Winter_bronze','Total.1':'Total_winter','№ Games':'Total_games',
                  '01 !.2':'Total_gold','02 !.2':'Total_silver','03 !.2':'Total_bronze','Combined total':'Total_medals'}, inplace=True)

In [113]:
df.tail()

,Countries,Summer_games,Summer_gold,Summer_silver,Summer_bronze,Total_summer,Winter_games,Winter_gold,Winter_silver,Winter_bronze,Total_winter,Total_games,Total_gold,Total_silver,Total_bronze,Total_medals
142,Independent Olympic Participants (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
143,Zambia (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2
144,Zimbabwe (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
145,Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
146,Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

In [114]:
#Q1
df['Countries'].iloc[0]

'Afghanistan\xa0(AFG)'

In [115]:
df=df.drop(146)

In [116]:
df.tail()

,Countries,Summer_games,Summer_gold,Summer_silver,Summer_bronze,Total_summer,Winter_games,Winter_gold,Winter_silver,Winter_bronze,Total_winter,Total_games,Total_gold,Total_silver,Total_bronze,Total_medals
141,Yugoslavia (YUG) [YUG],16,26,29,28,83,14,0,3,1,4,30,26,32,29,87
142,Independent Olympic Participants (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
143,Zambia (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2
144,Zimbabwe (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
145,Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17

In [117]:
'''
#I think the easiest way to return a row with the maximum value is by getting its index. argmax() can be used to return the index of 
#the row with the largest value.
'''
index = df.Summer_gold.argmax()

In [118]:
index

135

In [119]:
#Q2 
df.iloc[df.Summer_gold.argmax(), 0] #0 defines as 1d feature

'United States\xa0(USA) [P] [Q] [R] [Z]'

In [120]:
df[df['Summer_gold']==df['Summer_gold'].max()]

,Countries,Summer_games,Summer_gold,Summer_silver,Summer_bronze,Total_summer,Winter_games,Winter_gold,Winter_silver,Winter_bronze,Total_winter,Total_games,Total_gold,Total_silver,Total_bronze,Total_medals
135,United States (USA) [P] [Q] [R] [Z],26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681

In [125]:
#Q3
(df['Summer_gold'] - df['Winter_gold']).idxmax()

135

In [126]:
df.iloc[(df['Summer_gold'] - df['Winter_gold']).abs().idxmax(), 0]

'United States\xa0(USA) [P] [Q] [R] [Z]'

In [127]:
pd.Series(df['Summer_gold']-df['Winter_gold']).argmax() #arg returns position, idx returns label

135

In [129]:
#Q4 returning index of the country with max relative distance
((df['Summer_gold'] - df['Winter_gold'])/df['Total_gold']).idxmax()

1

In [130]:

df.iloc[((df['Summer_gold'] - df['Winter_gold'])/df['Total_gold']).abs().idxmax(), 0]

'Algeria\xa0(ALG)'

In [133]:
df.head(2)

,Countries,Summer_games,Summer_gold,Summer_silver,Summer_bronze,Total_summer,Winter_games,Winter_gold,Winter_silver,Winter_bronze,Total_winter,Total_games,Total_gold,Total_silver,Total_bronze,Total_medals
0,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
1,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15