In [62]:
#Q2
list(map(ma, a))
ma(['devnation', 'data science', 'requires', 'dedication'])

['devnation', 'data science', 'requires', 'dedication']

In [57]:
a=stringify(['devnation', 'data science', 'requires', 'dedication'])
print(a)
list(map(ma, a))

[['devnation'], ['data', 'science'], ['requires'], ['dedication']]

[['devnation'], ['data', 'science'], ['requires'], ['dedication']]

In [63]:
def ma(l):
    k=[]
    for i in l:
        k.append(i)
    return k          
def stringofy(lis):
    k=list(map(ma,lis))
    return k
lis= ["devnation", "data science", "requires", "dedication"]
print(stringofy(lis))

[['d', 'e', 'v', 'n', 'a', 't', 'i', 'o', 'n'], ['d', 'a', 't', 'a', ' ', 's', 'c', 'i', 'e', 'n', 'c', 'e'], ['r', 'e', 'q', 'u', 'i', 'r', 'e', 's'], ['d', 'e', 'd', 'i', 'c', 'a', 't', 'i', 'o', 'n']]

In [71]:
#Q3
a=['f','b','a','a']
def string_case(a):
    return tuple(map(upper_lower,a))
    
    
string_case(a)

(('F', 'f'), ('B', 'b'), ('A', 'a'), ('A', 'a'))

In [70]:
def upper_lower(a):
    return a.upper(),a.lower()
upper_lower('a')

('A', 'a')

In [76]:
#Q4
def str_join(Li,st):
    return list(map(lambda x:x+st,Li))
Lis=['a','b','c']
sti='@'
str_join(Lis,sti)

['a@', 'b@', 'c@']

In [80]:
#Q5
import csv
with open('C:\mpg.csv') as csvfile:
    df = list(csv.DictReader(csvfile))

df[:1]

[{'': '1',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '1.8',
  'year': '1999',
  'cyl': '4',
  'trans': 'auto(l5)',
  'drv': 'f',
  'cty': '18',
  'hwy': '29',
  'fl': 'p',
  'class': 'compact'}]

AttributeError: 'list' object has no attribute 'groupby'